<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1>Editing Book</h1>
      <%= form_with model: @book, method: :patch do |f| %>
        <p>Title</p>
        <%= f.text_field :title, class: "form-control mb-4" %>
        <p>Opinion</p>
        <%= f.text_area :body, class: "form-control" %>
        <%= f.submit "Update Book", class: "btn btn-success my-4" %>
      <% end %>
      <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
    </div>
  </div>
</div>