<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/ec197d3cc7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
          <div class="bg-dark p-4">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <%= link_to root_path, class: "nav-link active" do %>
                  <i class="fa-solid fa-house"></i>Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class: "nav-link" do %>
                  <i class="fa-solid fa-users"></i>Users
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path, class: "nav-link" do %>
                  <i class="fa-solid fa-book"></i>Books
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, class: "nav-link" do %>
                  <i class="fa-solid fa-right-from-bracket"></i>Log out
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
          <div class="bg-dark p-4">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <%= link_to root_path, class: "nav-link active" do %>
                  <i class="fa-solid fa-house"></i>Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to homes_about_path, class: "nav-link" do %>
                  <i class="fa-solid fa-link"></i>About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                  <i class="fa-solid fa-user-plus"></i>Sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                  <i class="fa-solid fa-right-to-bracket"></i>Log in
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="text-center mt-5">
      <h6>CopyRight Infratop.inc</h6>
    </footer>
  </body>
</html>
